/*--------------
   VARIABLES
--------------*/ 

:root{
    // Colors
    --first-color: #0282f9;
    --second-color: #1c1c1c;
    --third-color: #303030;
    // Font Sizes
    --font-md: 1.125rem;
    --font-lg: 1.25rem;
    --font-xl: 1.375rem;
    --font-xxl: 1.5rem;
    // Padding
    --padd-sm: .3125rem;
    --padd-md: .625rem;
    --padd-lg: .9375rem;
    --padd-xl: 1.25rem;
    --padd-xxl: 1.5625rem;
    // Margin
    --marg-sm: .3125rem;
    --marg-md: .625rem;
    --marg-lg: .9375rem;
    --marg-xl: 1.25rem;
    --marg-xxl: 1.5625rem;
}